h1 {
    color : red;
    background-color: blue;
}
body {
    background-color: green;

}
div{
    border:3px solid black;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    background-color: blue;
    padding: 25px;
}
table {
    
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
}
th {
    height: 30px;
    text-align: left;

}
td {
    height: 40px;
    text-align: left;
    vertical-align: center;
    padding: 10px;
}
tr:hover{
    background-color: gray;
}
tr:nth-child(even){
    background-color: gray;
}
tr:nth-child(odd){
    background-color: red;
}